body {
    background-image: linear-gradient(to right bottom, #6c4aa3, #946eb8, #b895ce, #dbbde6, #fbe8ff);
    color: #fff;
}
header a {
    color: #fff;
    text-decoration: none;
}
header div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.greeting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
header nav a {
    margin-left: 10px;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #d65db1;
    color: white;
}

tbody tr td {
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
